<!DOCTYPE html>
<html>

<head>
    <title>
        Test 2
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Bienvenue au test 2</h1>

    <%if (error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>

            <form name="year" method="POST" action="/users/time">
                <div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="speed">Vitesse initiale<span class="text-danger" >*</span></label>
                            <input type="number" class="form-control" name="speed" id="speed" placeholder="Enter la vitesse initiale">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="trafficLights">signalisation<span class="text-danger" >*</span></label>
                            <input type="text" class="form-control" name="trafficLights" id="trafficLights" placeholder="Configurer les feux">
                            <small class="form-text text-success">Utilisez le caractère ";" comme séparateur entre les différents feux.</small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">save</button>
            </form>


</body>

</html>