<!DOCTYPE html>
<html>

<head>
    <title>
        Test 2
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <h1>Resultat du test 2</h1>
    <p>le temps parcourue par le conduction est :
        <%= result %> seconde(s) </p>

    <!-- <button id="back" onClick="back()" class="btn btn-primary">Retour</button> -->
    <p><a href="/" class="btn btn-primary" role="button">Retour</a></p>

</body>

</html>